<li>
	{{name}}

	<button class="eat" data-id="{{id}}" data-moarFood="{{nom}}">
		{{#if nom}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
